@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.id-btn-2{
background-color: #437d88;
border-color: #376770;
}

.id-btn-2:hover{
background-color: #4c8c99;  
}

.id-btn-1 {
background-color: #8D5583;
border-color: #8D5583;
}

.id-btn-1:hover {
 background-color: #8D5583; 
}

.kymitems p{
color: #ffffff;
}

.logo-new {
width: 140px;
}

.logo-new img {
width: 140px;
margin: 0px 28px 0px; 0px;  
}

.header-fixed {
border-bottom: 1px solid #ffffff;   
}

.id-btn-3 {
color: #ffffff; 
background-color: #28365b;
border-color: #202b49;
text-decoration: nonw;
}

id-btn-3:hover {
background-color: #202b49; 
}

footer-bg {
background-color: #27355a;
border-bottom: solid 50px #222c47;  
}

.getintouch{
color: #ffffff;  
}

.id-num h2{
color: #ffffff; 
}

.id-num{
color: #ffffff; 
}

.site-footer{
background-color: #27355a;
border-bottom: solid 50px #222c47;  
}

.numcon {
color: #ffffff; 
}

.bentable {
color: #f6606a;  
}

.benefits-table ul li div i{
color: #f6606a!important;   
}
