@import url('https://fonts.googleapis.com/css2?family=Kanitlight:wght@200&display=swap');

.id-btn-2{
background-color: #437d88;
border-color: #376770;
}

.id-btn-2:hover{
color: #ffffff;
background-color: #4c8c99;  
}

.id-btn-1 {
background-color: #8D5583;
border-color: #8D5583;
}

.id-btn-1:hover {
color: #ffffff;
background-color: #8D5583; 
}

.id-btn-3 {
color: #ffffff; 
background-color: #28365b;
border-color: #202b49;
text-decoration: none;
}

id-btn-3:hover {
color: #ffffff; 
background-color: #202b49; 
}

.kymitems p{
color: #ffffff;
}

.logo-new {
width: 140px;
}

.logo-new img {
width: 140px;
margin-left: 14%; 
}

.header-fixed {
border-bottom: 1px solid #ffffff;   
}

.benefits-container a{
text-decoration: none;
}

footer-bg {
background-color: #27355a;
border-bottom: solid 50px #222c47;  
}

.getintouch{
color: #ffffff;  
}

.id-num h2{
color: #ffffff; 
}

.id-num{
color: #ffffff; 
}

.site-footer{
background-color: #27355a;
border-bottom: solid 50px #222c47;  
}

.numcon {
color: #ffffff; 
}

.bentable {
color: #f6606a;  
}

.benefits-table ul li div i{
color: #f6606a!important;   
}

.documents-table tbody tr td i {
 color: #f6606a!important; 
}

.contact-container a:hover {
color: #f6606a;
}

.home-section {
padding-top: 200px;
padding-bottom: 200px;
}

.home-section h1 {
color: #ffffff;
}

.home-section p {
font-weight: 200;
font-family: 'kanitlight', sans-serif;
}

.quotebtns {
padding-top: 28px;
}

@media only screen and (max-width: 600px) {
  .header-btn{
   display: none;
 }
 .home-section h1 {
  color: #ffffff;
  font-size: 50px;
 }
 .home-section}
 padding-top: 50px;
 padding-bottom: 50px;
}
.header-fixed div:last-of-type i{
 color: #ffffff;
}
}
