@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.id-btn-2{
background-color: #437d88;
border-color: #376770;
}

.id-btn-1{
background-color: #8D5583;
border-color: #8D5583;
}

.kymitems p{
color: #ffffff;
}

.logo {
    width: 140px;
}

.logo img {
    width: 140px;
}
