@import url('https://fonts.googleapis.com/css2?family=Kanitlight:wght@200&display=swap');

.id-btn-2{
background-color: #437d88;
border-color: #376770;
}

.id-btn-2:hover{
color: #ffffff;
background-color: #4c8c99;  
}

.id-btn-1 {
background-color: #8D5583;
border-color: #8D5583;
}

.id-btn-1:hover {
color: #ffffff;
background-color: #8D5583; 
}

.kymitems p{
color: #ffffff;
}

.logo-new {
width: 140px;
}

.logo-new img {
width: 140px;
margin-left: 14%; 
}

.header-fixed {
border-bottom: 1px solid #ffffff;   
}

.benefits-container a{
text-decoration: none;
}

footer-bg {
background-color: #27355a;
border-bottom: solid 50px #222c47;  
}

.getintouch{
color: #ffffff;  
}

.id-num h2{
color: #ffffff; 
}

.id-num{
color: #ffffff; 
}

.site-footer{
background-color: #27355a;
border-bottom: solid 50px #222c47;  
}

.numcon {
color: #ffffff; 
}

.new-drivers-section{
	margin-top: 25px;
}

.bentable {
color: #f6606a;  
}

.footerNav ul li:first-of-type {
 color: #f6606a!important; 
}

.benefits-table ul li div i{ 
color: #f6606a!important;   
}

.benefits-table ul li div p {
 color: #000;
}

.benefits-text p {
 font-family: 'kanitlight', sans-serif;
}

.menu-display ul li:hover {
background-color: #549caa!important;
}

.documents-table tbody tr td i {
 color: #f6606a!important; 
}

.contact-container a:hover {
color: #f6606a;
}

.home-section {
padding-top: 200px;
padding-bottom: 200px;
}

.faq-group__heading {
 color: #f6606a!important;
}

.accordion__content p {
 font-family: 'kanitlight', sans-serif;
}

.accordion__content li {
 font-family: 'kanitlight', sans-serif;
}

.home-section h1 {
color: #ffffff;
}

ul li {
 font-family: 'kanitlight', sans-serif;
}

.policydocs-container {
 padding: 0em 2em;
}

.policydocs-container p {
 font-family: 'kanitlight', sans-serif;
}

.home-section p {
font-weight: 200;
font-family: 'kanitlight', sans-serif;
}

.boldtext {
 font-weight: bold;
}

.quotebtns {
padding-top: 28px;
}

.header-fixed div:last-of-type i {
 color: #ffffff;
}

.section-container p {
 font-family: 'kanitlight', sans-serif;
}

@media screen and (max-width: 774px)
.menu-display ul li {
    border-bottom: 1px solid #4c8c99!important;
}

@media only screen and (max-width: 775px) {
  .header-btn {
   display: none;
 }
 .home-section h1 {
  color: #ffffff;
  font-size: 50px;
 }
 .home-section {
 padding-top: 50px;
 padding-bottom: 60px;
}
 .home-section p {
 line-height: 22px;
}
.header-fixed div:last-of-type i {
 color: #ffffff;
}
}
/* Phase 2 */
.lightshad{
background: #FFFFFF;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
border-radius: 15px;
}
.nobox{
border: none !important;
box-shadow: none !important;
margin-bottom: -100px;
}
.nobox h3{
color: #28365B;
font-size: 42px;
font-weight: 700;
text-align: left; 
}
.nobox p{
font-size: 19px;
color: #28365B;
font-weight: 500;
line-height: 20px;
text-align: left !important;
margin-top: 6px !important; 
}
.card-body{
height: 372px !important;
border: 1px solid #ffffff !important; 
}
.desc2{
margin-top: -40px; 
}

.id-btn-3 {
color: #ffffff; 
background-color: #569BA8 !important;
border-color: #202b49;
text-decoration: none;
margin: auto;
border-radius: 17px;
border: none;
padding: 5px 20px;
text-decoration: none;
}

.id-btn-3:hover {
color: #ffffff; 
background-color: #202b49; 
}

.insuredtoday h3 {
color: #ffffff;
font-weight: 700;
font-size: 40px; 
}

.insuredtodaybtn {
font-size: 19px;
}

.wrapper {
	width: 100%;
}

.inner {
	background: black;
	height: 560px;
}

.wrapper [class*="col-"]:nth-child(4n-2) .inner {
	background: #28365B;
	background-image: url(https://static.mbshosting.co.uk/cog-yoyo-bw/media/rightvec.png); background-position: center; 
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom -515px right;
}

.wrapper [class*="col-"]:nth-child(4n-1) .inner {
	background: #28365B;
	background-image: url(https://static.mbshosting.co.uk/cog-yoyo-bw/media/rightvector.png); background-position: center; 
	background-repeat: no-repeat;
	background-size: 100%;
}

.wrapper [class*="col-"]:nth-child(4n-3) .inner {
	background-image: url(https://images.unsplash.com/photo-1485712207830-8a665e701494?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBlcnNvbiUyMG9uJTIwcGhvbmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60); background-size: cover;
}

.wrapper [class*="col-"]:nth-child(4n-4) .inner {
	background-image: url(https://static.nuscdn.com/media/fiat.jpeg); background-size: cover;
}

.norow{
	position: absolute;
	content:"";
	width: 100%;
	height: 100%;
	background-image: url(https://images.unsplash.com/photo-1549317661-bd32c8ce0db2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80); background-size: cover;
	background-repeat:no-repeat; 
  background-position: center;
  background-size: contain;
}

.chesstext, .textright{
	color: #ffffff;
	text-align: left;
}

.chesstext h3, .chesstext p{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	color: #ffffff;
}

.textright h3, .textright p{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	background-image: url(); background-position: left-bottom; 
}

.benefits-grid-container {
    padding: 4em 2em;
    text-align: center;
}

.benefits-grid-container {
	border: none;	
}

.benefits-grid-container img {
	border: 20px solid #FEF9FA;
	border-radius: 50%;
	width: 130px;
	height: 130px;
	margin: auto;
}

.benefits-grid-container .card-body {
	box-shadow: none;
	border: none;
}

.benefits-grid-container .h1, .benefits-grid-container h1 {
    color: #f6606a;
}

.benefits-grid-heading{
	font-size: 23px;
	font-weight: 700;
	line-height: 112%;
}

.benefits-grid-text{
	font-size: 16px;
	font-weight: 400;
	line-height: 143.4%;
}

.imgcircle {
	border: 1px solid #ffffff;
	border-radius: 50%;
	width: 190px;
	height: 190px;
	box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}
.benefits-grid-container .card-container {
    display: flex;
    width: 90%;
    margin: auto;
}
@media screen and (min-width:950px) {
    .benefits-grid-container .card-container {
    width: 80%}
}@media screen and (min-width:1139px) {
    .benefits-grid-container .card-container {
    width: 60%}
}@media screen and (max-width:775px) {
    .benefits-grid-container .card-container {
    flex-direction: column;
}
	.col-6{
	flex 0 0 100%;
	max-width: 100%;
	}
	.wrapper [class*="col-"]:nth-child(4n-3) .inner {
	display: none;
}

.wrapper [class*="col-"]:nth-child(4n-4) .inner {
	display: none;
}
	
}
}@media screen and (max-width:950px) {
    .get-a-quote-container {
    display: none;
}
}.get-a-quote-container div:last-of-type {
    width: 50%}
@media screen and (min-width:1305px) {
    .get-a-quote-containerdiv: last-of-type {
    max-width: 600px;
}
}

.home-faq-section {
	background-image: url(https://static.mbshosting.co.uk/cog-yoyo-bw/media/faq-section.png); background-size: cover;
	background-repeat:no-repeat;		
}
